*.[568vq]
*.a
*.cgo1.go
*.cgo2.c
*.exe
*.iml
*.log
*.o
*.pem
*.prof
*.pub
*.so
*.test
*box
*gz
*iso
*zip
.galaxy_install_info
.idea/
[568vq].out
_cgo_defun.c
_cgo_export.*
_cgo_gotypes.go
_obj
_test
_testmain.go
bin/
demo/
dist/
forks/
pkg/
sshkey*
target/
terraform.state*
vendor/
.glide/
.DS_Store
**/keys/

